*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.section-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}

.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}

/* main style */
header{
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h2{
    font-size: 45px;
    font-weight: 900;
}
.text-orange{
    color: #FD6E0A;
}

.menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

.menu li{
    font-size: 20px;
    color: #474747;
}

#banner{
    display: flex;
    margin: 47px 38px 0px 273px;
    align-items: center;
    justify-content: space-between;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .buttons{
    display: flex;
    gap: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 131px;
}

#about .about-container{
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info h4{
    font-size: 20px;
    color: #474747;
}

#skills, #resume{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 131px;
}

#skills .skill-box{
    display: flex;
    gap: 24px;
}

#skills .skill-box .skill-card{
    border: 1px solid #E0E0E0;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000027;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume .resume-container{
    display: flex;
    gap: 24px;
    margin: 113px 0 50px 0;
}

.resume-container hr{
    margin: 30px 0 30px;
}

.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container .resume-card{
    margin-right: 47px;
}

.resume-container .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-container .resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-container .resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top: 131px;
    background-color: #FFF8F3;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 0;
    display: flex;
    gap: 117px;
}

footer .footer-container .social{
    max-width: 562px;
}

footer .footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

footer .footer-container h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

footer .footer-container .icons img{
    max-width: 24px;
    margin-right: 24px;
}

footer .footer-container form input[type="text"],footer .footer-container form input[type="email"],footer .footer-container form textarea{
    width: 461px;
    padding: 18px 30px;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}